html {
    font-family: Roboto, Arial;
    background: linear-gradient(225deg, #a605ee, #ee06c2) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    touch-action: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body a:focus {
    outline: none;
}